doctype
html(lang='en')
    head
        title alphaNotes
    body
        #hder Alpha Notes

        form(method='POST', action='/addnote')
            label(for='noteentry') Note:
            input(name='noteentry', id='noteentry')
            input(type='submit', value='Add Note')



