doctype
html(lang='en')
    head
        title alphaNotes
        link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
        link(href='/css/style.css', rel='stylesheet', type='text/css')

    body
        #main.container
            form(method='POST', action='/addnote')
                #noteinput.row
                    #noteinputcol.col-md-12.text-center
                        textarea(name='noteentry', id='noteentry', placeholder='Enter note here...', autofocus)

                #notetitlerow.row
                    #notetitlecol.col-md-12.text-center
                        input(id='notetitle', name='notetitle', type='text', placeholder='Enter title here...')

                #addnotebtnrow.row
                    #addnotebtncol.col-md-12.text-center
                        input(id='addnotebtn', type='submit', value='Add Note', class='btn-primary')

                #notetablerow.row
                    #notetablecol.col-md-6
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    th ID
                                    th Note Title
                                    th Date
                            each note in notelist
                                tr
                                    td #{note.id}
                                    td #{note.title}
                                    td #{note.date}
                    #duh.col-md-6

            script(src='/js/jquery-1.11.1.js')
            script(src='/js/bootstrap.js')
